@import "libs/reset";

/* VARS */
@import "vars";

/* LAYOUTS */
@import "layouts/sidebar";
@import "layouts/stage";

html {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

body {
  width:100vw;
  height: auto;
  //overflow: hidden;
  color: $xiketic;

  main {
    width:100vw;
    height: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    
    .selected{
      border: red 2px solid;
    }
  }
  
  aside{
    ul{
      li{
        button:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.sr-only {
  display: none;
}
